

.container{
  text-align: center;
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
  background-color: aqua;
}

.arrow{
  font-size: 1.5rem;
}

input{
  font-size: larger;
  border: 2px solid black;
}

::placeholder{
  text-align: end;
}
.text{
  display: flex;
  justify-content: space-around
}
